:root {
    --background-color:#111;
    --main-color: #868995;
    --star-color:#ffce3e;
    --white-color: #fff;
    --black-color: #000;
    --text-color:  #f9f9f9;
    --primary-color:#ee4266;
    --border-color: #dbdbdb;
    --narbar-height:34px;
    --header-height:80px;
    --cart-color:#f15e2c;
}

*{
    border: inherit;
}

html{
    font-size: 62.5% !important;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.btn {
    display: block;
    background-color: var(--black-color) !important;
    width: 100%;
    border: none !important;
    border-radius: none !important;
    font-size: 2rem !important;
    text-decoration: none;
    height: 35px;
    line-height: 25px !important;
    text-align: center;

}



.header_navbar-icon--active:hover {
    color: #adb0bb;
    
}

.fade.show {
    opacity: 0.5 !important;
}


.pager {
    display: flex;
    justify-content: center;
    padding: 30px 0;

}

.pager a {
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    border: 1px solid #ccc;
    font-size: 1.4rem;
    text-decoration: none !important;
    color: var(--black-color);
    margin-right: 4px;
}

.pager span {
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    border: 1px solid #ccc;
    font-size: 1.4rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    margin-right: 4px;
}

.pager span:hover {
    color: var(--primary-color);
}

a#pre-next-page {
    border: none;
}

a#pre-next-page:hover{
    color: var(--primary-color);
}