/* PC */

@media (min-width:1024px) {
   
    .navbar {
        display: none !important;
    }

    .part.part-warp {
        padding-top: 120px;
    }

    .part.part-warp-search {
        margin-top: 40px;
    }

}


@media (max-width:1023px) {
   
    .navbar {
        display:block;
        
    }

    .navbar-black {
        background-color: var(--black-color);
    }

    .navbar-brand {
        font-size: 2rem !important;
        
    }

    .navbar-toggler-icon:hover {
        color: var(--primary-color) !important;
    }

    .navbar-nav .dropdown-menu {
        outline: none;
        border: none;
    }
    .part.part-warp {
        padding-top: 40px;
    }

    .part.part-warp-search {
       
        margin-top: 40px;
    }
    
}
/* TABLET */

@media (min-width:740px) and (max-width:1023px) {


    .main {
        display: none;
    }

    .navbar {
        display:block;
    }

    .part {
        padding-top: 40px;
    }

    .part.part-warp {
        padding-top: 70px;
    }

    .login-main {
        width: 80% !important;
    }
    .allCart {
        flex-direction: column;
    }
    
    .info {
        flex-direction: column;
    }

    .cart-conten {
         flex-direction: row; 
    }

    a.subnav-link {
        font-size: 1.8rem;
    }

    button.btn.btn-success.col-3 {
        background-color: var(--primary-color) !important;
    }

    form.d-flex.mt-3 {
        width: 100%;
    }
}

/* MOBILE */
@media (max-width:739px) {

    .navbar {
        display:block;
    }

    .main {
        display: none;
    }

    .navbar--warp {
        display: none;
    }

    .part {
        padding-top: 40px;
    }
    .part.part-warp {
        padding-top: 70px;
    }

    .login-main {
        width: 80% !important;
    }

    .allCart {
        flex-direction: column;
    }
    
    .info {
        flex-direction: column;
    }

    .cart-conten {
         flex-direction: row !important; 
    }


    .info-img-item.img-warp {
        width: 100% ;
        height: 100%;
    }

    a.subnav-link {
        font-size: 1.8rem ;
    }

    button.btn.btn-success.col-3 {
        background-color: var(--primary-color) !important;
    }

    .input-item {
        width: 76% !important;
    }

    .remember {
        width: 76%!important;
    }
    .checkbox1 {
        flex: 1;
    }

    input.btn-log_reg,
    a.btn-log_reg {
        width: 76%;
        float: left;
        margin-bottom: 5px;
    }

    


    .login-social {
       display: inline-flex !important;

    }

    .login-social .login-link {
        margin-top: 20px;
        width: 45% !important;
    }

    .mt-3, .my-3 {
        width: 100%;
    }

    .login-main.reg-main {
        width: 100% !important;
    }

    .form-reg {
        padding: 0 16x;
    }

    .input-item .input-reg {
        width: 100%;
    }

    .a.btn-log_reg.register-form {
        width: 76%;
        display: flex;
        flex-direction: column;
    }
}